body {
    font-family: 'Arial', sans-serif;
    color: #444;
}


h2 {
	text-decoration: underline;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

.profile-photo {
    width: 320px;
}
